<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="hssd"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="HSSD">
         <property
               name="appName"
               value="HSSD">
         </property>
         <property
               name="windowImages"
               value="icons/hssd.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.port">
         <command
               commandId="com.insweat.hssd.editor.command.hssd.StartFileServer"
               label="Start File Server"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.StopFileServer"
               label="Stop File Server"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.ImportSS"
               label="Import Spreadsheet"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.insweat.hssd.editor.editors.EntryEditor#PopupMenu">
         <separator
               name="group.edit"
               visible="true">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.entry.AddElement"
               label="Add Element"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.entry.InheritElements"
               label="Inherit Elements"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.entry.DelElement"
               label="Delete Element"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.entry.CopyContent"
               label="Copy Content"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.entry.PasteContent"
               label="Paste Content"
               style="push">
         </command>
         <separator
               name="group.open"
               visible="true">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.entry.GotoEntry"
               label="Goto Entry"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.insweat.hssd.editor.editors.HSSDEditor#PopupMenu">
         <separator
               name="group.info"
               visible="true">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.CopyID"
               label="Copy Id"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.CopyName"
               label="Copy Name"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.CopyCaption"
               label="Copy Caption"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.PasteNames"
               label="Paste Names"
               style="push">
         </command>
         <separator
               name="group.edit"
               visible="true">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.AddEntry"
               label="Add..."
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.DupEntry"
               label="Duplicate"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.DelEntry"
               label="Delete"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.RenameEntry"
               label="Rename..."
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.EditTraits"
               label="Edit Traits..."
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.MultiDiff"
               label="Multi Diff..."
               style="push">
         </command>
         <separator
               name="group.search">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.FindFWDRefs"
               label="Find Forward Refs"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.FindBWDRefs"
               label="Find Backward Refs"
               style="push">
         </command>
         <separator
               name="group.port"
               visible="true">
         </separator>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.ExportDB"
               label="Export DB"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.ExportDBData"
               label="Export DB Data"
               style="push">
         </command>
         <command
               commandId="com.insweat.hssd.editor.command.hssd.ExportSS"
               label="Export Spreadsheet"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.insweat.hssd.editor.views.L10NView#PopupMenu">
         <command
               commandId="com.insweat.hssd.editor.command.l10n.FindRefs"
               label="Find Refs"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorCopyID"
            commandId="com.insweat.hssd.editor.command.hssd.CopyID">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorCopyName"
            commandId="com.insweat.hssd.editor.command.hssd.CopyName">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorCopyCaption"
            commandId="com.insweat.hssd.editor.command.hssd.CopyCaption">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorPasteNames"
            commandId="com.insweat.hssd.editor.command.hssd.PasteNames">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <test
                     property="com.insweat.hssd.editor.testers.clip.hasTextContent"
                     value="true">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorExportDB"
            commandId="com.insweat.hssd.editor.command.hssd.ExportDB">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorExportDBData"
            commandId="com.insweat.hssd.editor.command.hssd.ExportDBData">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorExportSS"
            commandId="com.insweat.hssd.editor.command.hssd.ExportSS">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorStartFileServer"
            commandId="com.insweat.hssd.editor.command.hssd.StartFileServer">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="hssd">
                        </test>
                        <test
                              property="com.insweat.hssd.editor.testers.server.isRunning"
                              value="false">
                        </test>
                     </and>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorStopFileServer"
            commandId="com.insweat.hssd.editor.command.hssd.StopFileServer">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="hssd">
                        </test>
                        <test
                              property="com.insweat.hssd.editor.testers.server.isRunning"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorImportSS"
            commandId="com.insweat.hssd.editor.command.hssd.ImportSS">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="xlsx">
                        </test>
                     </and>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorEditTraits"
            commandId="com.insweat.hssd.editor.command.hssd.EditTraits">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.hssd.isLeaf"
                           value="false">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorMultiDiff"
            commandId="com.insweat.hssd.editor.command.hssd.MultiDiff">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <not>
                     <or>
                        <count
                              value="0">
                        </count>
                        <count
                              value="1">
                        </count>
                     </or>
                  </not>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorAddEntry"
            commandId="com.insweat.hssd.editor.command.hssd.AddEntry">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <or>
                     <count
                           value="0">
                     </count>
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <test
                                 property="com.insweat.hssd.editor.testers.hssd.isLeaf"
                                 value="false">
                           </test>
                        </iterate>
                     </and>
                  </or>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorDupEntry"
            commandId="com.insweat.hssd.editor.command.hssd.DupEntry">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorDelEntry"
            commandId="com.insweat.hssd.editor.command.hssd.DelEntry">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorRenameEntry"
            commandId="com.insweat.hssd.editor.command.hssd.RenameEntry">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorFindFWDRefs"
            commandId="com.insweat.hssd.editor.command.hssd.FindFWDRefs">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.HSSDEditorFindBWDRefs"
            commandId="com.insweat.hssd.editor.command.hssd.FindBWDRefs">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.hssd.HSSDEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.hssd.isLeaf"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorAddElement"
            commandId="com.insweat.hssd.editor.command.entry.AddElement">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.entry.elementThype"
                           value="com.insweat.hssd.lib.essence.CollectionThypeLike">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorInheritElements"
            commandId="com.insweat.hssd.editor.command.entry.InheritElements">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.entry.elementThype"
                           value="com.insweat.hssd.lib.essence.CollectionThypeLike">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorDelElement"
            commandId="com.insweat.hssd.editor.command.entry.DelElement">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.entry.parentElementThype"
                           value="com.insweat.hssd.lib.essence.CollectionThypeLike">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorGotoEntry"
            commandId="com.insweat.hssd.editor.command.entry.GotoEntry">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <test
                           property="com.insweat.hssd.editor.testers.entry.elementThype"
                           value="com.insweat.hssd.lib.essence.thypes.ReferenceThype">
                     </test>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorCopyContent"
            commandId="com.insweat.hssd.editor.command.entry.CopyContent">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <or>
                        <test
                              property="com.insweat.hssd.editor.testers.entry.elementThype"
                              value="com.insweat.hssd.lib.essence.thypes.ArrayThype">
                        </test>
                        <test
                              property="com.insweat.hssd.editor.testers.entry.elementThype"
                              value="com.insweat.hssd.lib.essence.SimpleThypeLike">
                        </test>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </with>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.EntryEditorPasteContent"
            commandId="com.insweat.hssd.editor.command.entry.PasteContent">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="com.insweat.hssd.editor.editors.entry.EntryEditor">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <test
                              property="com.insweat.hssd.editor.testers.entry.elementThype"
                              value="com.insweat.hssd.lib.essence.thypes.ArrayThype">
                        </test>
                        <test
                              property="com.insweat.hssd.editor.testers.entry.elementThype"
                              value="com.insweat.hssd.lib.essence.SimpleThypeLike">
                        </test>
                     </or>
                  </iterate>
               </with>
               <test
                     property="com.insweat.hssd.editor.testers.clip.hasTextContent"
                     value="true">
               </test>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="com.insweat.hssd.editor.handlers.L10NFindRefs"
            commandId="com.insweat.hssd.editor.command.l10n.FindRefs">
         <activeWhen>
            <and>
               <with
                     variable="activePart">
                  <instanceof
                        value="com.insweat.hssd.editor.views.l10n.L10NView">
                  </instanceof>
               </with>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.insweat.hssd.editor.models.l10n.Row">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.insweat.hssd.editor.category.hssdKeys"
            name="HSSD Keys">
      </category>
      <command
            id="com.insweat.hssd.editor.command.hssd.ExportDB"
            name="Export">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.ExportSS"
            name="Export Spreadsheet">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.ExportDBData"
            name="Export Data">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.StartFileServer"
            name="Start File Server">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.StopFileServer"
            name="Stop File Server">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.ImportSS"
            name="Import Spreadsheet">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.AddElement"
            name="Add">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.InheritElements"
            name="Inherit">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.DelElement"
            name="Delete">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.EditTraits"
            name="Edit Traits">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.AddEntry"
            name="Add">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.DelEntry"
            name="Delete">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.RenameEntry"
            name="Rename">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            defaultHandler="com.insweat.hssd.editor.handlers.HSSDEditorMoveEntry"
            id="com.insweat.hssd.editor.command.hssd.MoveEntry"
            name="Move">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.GotoEntry"
            name="Goto Entry">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.CopyContent"
            name="Copy">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.entry.PasteContent"
            name="Paste">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.MultiDiff"
            name="Multi Diff">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.DupEntry"
            name="Duplicate">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.FindFWDRefs"
            name="Find Forward Refs">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.FindBWDRefs"
            name="Find Backward Refs">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.l10n.FindRefs"
            name="Find Refs">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.CopyID"
            name="Copy Id">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.CopyName"
            name="Copy Name">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.CopyCaption"
            name="Copy Caption">
      </command>
      <command
            categoryId="com.insweat.hssd.editor.category.hssdKeys"
            id="com.insweat.hssd.editor.command.hssd.PasteNames"
            name="Paste Names">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.insweat.hssd.editor.editors.hssd.HSSDEditor"
            contributorClass="com.insweat.hssd.editor.editors.hssd.HSSDEditorContributor"
            extensions="hssd"
            icon="icons/full/eview16/types.gif"
            id="com.insweat.hssd.editor.editors.HSSDEditor"
            name="HSSD Editor">
      </editor>
      <editor
            class="com.insweat.hssd.editor.editors.entry.EntryEditor"
            contributorClass="com.insweat.hssd.editor.editors.entry.EntryEditorContributor"
            icon="icons/full/eview16/class_hi.gif"
            id="com.insweat.hssd.editor.editors.EntryEditor"
            name="Entry Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.insweat.hssd.editor.categories.hssd"
            name="HSSD">
      </category>
      <view
            category="com.insweat.hssd.editor.categories.hssd"
            class="com.insweat.hssd.editor.views.l10n.L10NView"
            icon="icons/full/obj16/sclassf_obj.gif"
            id="com.insweat.hssd.editor.views.L10NView"
            name="Localization"
            restorable="true">
      </view>
      <view
            category="com.insweat.hssd.editor.categories.hssd"
            class="com.insweat.hssd.editor.views.multidiff.MultiDiffView"
            icon="icons/full/obj16/settings_obj.gif"
            id="com.insweat.hssd.editor.views.MultiDiffView"
            name="MultiDiff"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="com.insweat.hssd.editor.services.ServiceFactory">
         <service
               serviceClass="com.insweat.hssd.editor.services.IDService"></service>
      </serviceFactory>
      <sourceProvider
            provider="com.insweat.hssd.editor.services.EntryEditorSourceProvider">
         <variable
               name="com.insweat.hssd.editor.handlers.entry.activeEntryEditor"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.insweat.hssd.editor.handlers.entry.entrySel"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.insweat.hssd.editor.handlers.entry.selElemThype"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.insweat.hssd.editor.handlers.entry.selParentElemThype"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="com.insweat.hssd.editor.services.HSSDEditorSourceProvider">
         <variable
               name="com.insweat.hssd.editor.handlers.hssd.activeHSSDEditor"
               priorityLevel="workbench">
         </variable>
         <variable
               name="com.insweat.hssd.editor.handlers.hssd.hssdSel"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            class="com.insweat.hssd.editor.search.hssd.EntrySearchPage"
            id="com.insweat.hssd.editor.search.hssd.EntrySearch"
            label="Entry Search"
            tabPosition="0">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="com.insweat.hssd.editor.search.hssd.EntrySearchResultPage"
            id="com.insweat.hssd.editor.hssd.search.EntrySearchResultPage"
            label="Entry Search Result"
            searchResultClass="com.insweat.hssd.editor.search.hssd.EntrySearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.insweat.hssd.editor.testers.entry.ValueNodeTester"
            id="com.insweat.hssd.editor.testers.entry.ValueNodeTester"
            namespace="com.insweat.hssd.editor.testers.entry"
            properties="elementThype,parentElementThype"
            type="com.insweat.hssd.lib.tree.flat.TreeNode">
      </propertyTester>
      <propertyTester
            class="com.insweat.hssd.editor.testers.hssd.EntryNodeTester"
            id="com.insweat.hssd.editor.testers.hssd.EntryNodeTester"
            namespace="com.insweat.hssd.editor.testers.hssd"
            properties="isLeaf"
            type="com.insweat.hssd.lib.tree.structured.TreeNode">
      </propertyTester>
      <propertyTester
            class="com.insweat.hssd.editor.testers.clip.ClipboardTester"
            id="com.insweat.hssd.editor.testers.clip.ClipboardTester"
            namespace="com.insweat.hssd.editor.testers.clip"
            properties="hasTextContent"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.insweat.hssd.editor.testers.server.FileServerTester"
            id="com.insweat.hssd.editor.testers.server.FileServerTester"
            namespace="com.insweat.hssd.editor.testers.server"
            properties="isRunning"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
      <propertyTester
            class="com.insweat.hssd.editor.testers.debug.DebugTester"
            id="com.insweat.hssd.editor.testers.debug.DebugTester"
            namespace="com.insweat.hssd.editor.testers.debug"
            properties="probe"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.insweat.hssd.editor.command.entry.AddElement"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+I">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.entry.DelElement"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+X">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.entry.InheritElements"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+R">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.entry.CopyContent"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.entry.PasteContent"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.entry.GotoEntry"
            contextId="com.insweat.hssd.editor.contexts.inEntryEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.AddEntry"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+I">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.DupEntry"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.DelEntry"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+X">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.RenameEntry"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+N">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.EditTraits"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.MultiDiff"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.ExportDB"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.FindFWDRefs"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.hssd.FindBWDRefs"
            contextId="com.insweat.hssd.editor.contexts.inHSSDEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+H">
      </key>
      <key
            commandId="com.insweat.hssd.editor.command.l10n.FindRefs"
            contextId="com.insweat.hssd.editor.contexts.inHSSDL10NView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.insweat.hssd.editor.contexts.withHSSD"
            name="With HSSD">
      </context>
      <context
            id="com.insweat.hssd.editor.contexts.inHSSDEditor"
            name="In HSSD Editor"
            parentId="com.insweat.hssd.editor.contexts.withHSSD">
      </context>
      <context
            id="com.insweat.hssd.editor.contexts.inEntryEditor"
            name="In Entry Editor"
            parentId="com.insweat.hssd.editor.contexts.withHSSD">
      </context>
      <context
            id="com.insweat.hssd.editor.contexts.inHSSDL10NView"
            name="In HSSD Localization View"
            parentId="com.insweat.hssd.editor.contexts.withHSSD">
      </context>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="HSSD">
         <property
               name="windowImages"
               value="icons/hssd.png">
         </property>
      </product>
   </extension>

</plugin>
